body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topicos {
    color: yellow;
    font-weight: bold;
    font-size: 20px;
}
.nome {
    color: white;
}

.logo {
    padding: 10px;

}
.logo img {
    height: 195px;
}

.barbeiro {

}

.servicos {

}

#barbeiros {
    width: 250px;
    height: 40px;
    background-color: rgb(255, 166, 0);
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

option {
    font-weight: bold;
    font-size: 20px;
}

