body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topicos {
    color: yellow;
    font-weight: bold;
    font-size: 20px;
}
.nome {
    color: white;
}

.logo {
    padding: 10px;

}
.logo img {
    height: 195px;
}

.barbeiro {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.servicos {
display: flex;
border-radius: 10px;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
padding: 15px;
}

.opcoes {
    height: 110px ;
    width: 320px;
    border: solid 3px orange;
    background-color: #f0f09d;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    gap: 3px;
    flex-direction: column;
}

#barbeiros {
    width: 320px;
    height: 45px;
    background-color: rgb(255, 166, 0);
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

option {
    font-weight: bold;
    font-size: 20px;
}

.paragrafooption {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.descoption {
    color: gray;
    margin: 0;
}


.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    align-items: center;
}

.opcoes input {
    margin: 8px;
    height: 15px;
    width: 15px;
    border: solid 2px orange;
    border-radius: 10px;
    background-color: yellow;
}