body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topicos {
    font-size: 14px;
    color: yellow;
}
.nome {
}
.logo {
    height: 195px;
}

.barbeiro {

}

.servicos {

}