body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    height: 600px;
    width: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 150px;
    background-color: white;
}

.p1 {
font-size: 50px;
font-weight: bold;
}

.p2 {
    font-size: 30px;
}

.container img {
    height: 220px;
}

button {
    height: 35px;
    width: 80px;
    background-color: purple;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.05);
    transition: transform 400ms ease-in-out;
}